<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <contextName>logback</contextName>

    <!-- Log output directory -->
    <property name="log.path" value="D://logs//swiftmall-manager//logs" />

    <!--Console log format: colored logs-->
    <!-- magenta -->
    <!-- boldMagenta-->
    <!-- cyan -->
    <!-- white -->
    <!-- magenta -->
    <property name="CONSOLE_LOG_PATTERN" value="%yellow(%date{yyyy-MM-dd HH:mm:ss}) %highlight([%-5level]) %green(%logger) %msg%n"/>

    <!--File log format-->
    <property name="FILE_LOG_PATTERN" value="%date{yyyy-MM-dd HH:mm:ss} [%-5level] %thread %file:%line %logger %msg%n" />

    <!--Encoding-->
    <property name="ENCODING" value="UTF-8" />

    <!-- Console Log -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Threshold value filter -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>${ENCODING}</charset>
        </encoder>
    </appender>

    <!-- File Log -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${log.path}//log.log</file>
        <append>true</append>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss} %msg%n</pattern>
            <charset>${ENCODING}</charset>
        </encoder>
    </appender>

    <!-- Development environment -->
    <springProfile name="dev">
        <!-- com.atchen Logger: Business program INFO level  -->
        <logger name="com.atchen" level="INFO" />
        <!-- Root logger: INFO level  -->
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE" />
        </root>
    </springProfile>

</configuration>